<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav>
         <a href="/about/" >About</a>
         <a href="/contact-us/"> Contacy Us</a>
         <a href="/store/"> Store</a>
    </nav>
    <h1>Welcome</h1>
    <p>Hello. This is our first web page</p>
    <h2>This is our web page</h2>
    <img src="{{url_for ('static', filename='cat.png')}}" style="width:500px">
    <br>
    <a href="https://google.com">Google page</a>
</body>
</html>